In [1]:
# importing required packages
import pandas as pd
import pandas_profiling
import numpy as np
import matplotlib.pyplot as plt

In [41]:
vehicle16 = pd.read_csv('/Users/sandippalit/Downloads/FARS2016NationalCSV/vehicle.csv')

In [4]:
vehicle16.count()

STATE       52714
ST_CASE     52714
VEH_NO      52714
VE_FORMS    52714
NUMOCCS     52714
DAY         52714
MONTH       52714
HOUR        52714
MINUTE      52714
HARM_EV     52714
MAN_COLL    52714
UNITTYPE    52714
HIT_RUN     52714
REG_STAT    52714
OWNER       52714
MAKE        52714
MODEL       52714
MAK_MOD     52714
BODY_TYP    52714
MOD_YEAR    52714
VIN         52714
VIN_1       52714
VIN_2       52714
VIN_3       52714
VIN_4       52714
VIN_5       52713
VIN_6       52710
VIN_7       52706
VIN_8       52695
VIN_9       52682
            ...
PREV_OTH    52714
FIRST_MO    52714
FIRST_YR    52714
LAST_MO     52714
LAST_YR     52714
SPEEDREL    52714
DR_SF1      52714
DR_SF2      52714
DR_SF3      52714
DR_SF4      52714
VTRAFWAY    52714
VNUM_LAN    52714
VSPD_LIM    52714
VALIGN      52714
VPROFILE    52714
VPAVETYP    52714
VSURCOND    52714
VTRAFCON    52714
VTCONT_F    52714
P_CRASH1    52714
P_CRASH2    52714
P_CRASH3    52714
PCRASH4     52714
PCRASH5     52714
ACC_TYPE    52714
TRLR1VIN    52714
TRLR2VIN    52714
TRLR3VIN    52714
DEATHS      52714
DR_DRINK    52714
Length: 105, dtype: int64

In [5]:
distract16 = pd.read_csv('/Users/sandippalit/Downloads/FARS2016NationalCSV/distract.csv')

In [6]:
veh_dis_16 = pd.merge(vehicle16, distract16, how='left', on=['STATE','ST_CASE', 'VEH_NO'])

In [10]:
maneuver16 = pd.read_csv('/Users/sandippalit/Downloads/FARS2016NationalCSV/maneuver.csv')

In [11]:
veh_dis_man16=pd.merge(veh_dis_16,maneuver16,how='left', on=['STATE','ST_CASE', 'VEH_NO'])

In [12]:
veh_dis_man16.count()

STATE       52769
ST_CASE     52769
VEH_NO      52769
VE_FORMS    52769
NUMOCCS     52769
DAY         52769
MONTH       52769
HOUR        52769
MINUTE      52769
HARM_EV     52769
MAN_COLL    52769
UNITTYPE    52769
HIT_RUN     52769
REG_STAT    52769
OWNER       52769
MAKE        52769
MODEL       52769
MAK_MOD     52769
BODY_TYP    52769
MOD_YEAR    52769
VIN         52769
VIN_1       52769
VIN_2       52769
VIN_3       52769
VIN_4       52769
VIN_5       52767
VIN_6       52764
VIN_7       52760
VIN_8       52749
VIN_9       52736
            ...
FIRST_YR    52769
LAST_MO     52769
LAST_YR     52769
SPEEDREL    52769
DR_SF1      52769
DR_SF2      52769
DR_SF3      52769
DR_SF4      52769
VTRAFWAY    52769
VNUM_LAN    52769
VSPD_LIM    52769
VALIGN      52769
VPROFILE    52769
VPAVETYP    52769
VSURCOND    52769
VTRAFCON    52769
VTCONT_F    52769
P_CRASH1    52769
P_CRASH2    52769
P_CRASH3    52769
PCRASH4     52769
PCRASH5     52769
ACC_TYPE    52769
TRLR1VIN    52769
TRLR2VIN    52769
TRLR3VIN    52769
DEATHS      52769
DR_DRINK    52769
MDRDSTRD    52769
MDRMANAV    52769
Length: 107, dtype: int64

In [13]:
veh_dis_man_16=veh_dis_man16.drop(['VE_FORMS', 'UNITTYPE', 'VIN','VIN_1','VIN_2','VIN_3','VIN_4','VIN_5',
                                'VIN_6','VIN_7','VIN_8','VIN_9','LAST_MO','LAST_YR',
                                 'TRLR1VIN','TRLR2VIN','TRLR3VIN','VIN_10','VIN_11','VIN_12'], axis=1)

In [14]:
veh_dis_man_16.columns

Index(['STATE', 'ST_CASE', 'VEH_NO', 'NUMOCCS', 'DAY', 'MONTH', 'HOUR',
       'MINUTE', 'HARM_EV', 'MAN_COLL', 'HIT_RUN', 'REG_STAT', 'OWNER', 'MAKE',
       'MODEL', 'MAK_MOD', 'BODY_TYP', 'MOD_YEAR', 'TOW_VEH', 'J_KNIFE',
       'MCARR_I1', 'MCARR_I2', 'MCARR_ID', 'GVWR', 'V_CONFIG', 'CARGO_BT',
       'HAZ_INV', 'HAZ_PLAC', 'HAZ_ID', 'HAZ_CNO', 'HAZ_REL', 'BUS_USE',
       'SPEC_USE', 'EMER_USE', 'TRAV_SP', 'UNDERIDE', 'ROLLOVER', 'ROLINLOC',
       'IMPACT1', 'DEFORMED', 'TOWED', 'M_HARM', 'VEH_SC1', 'VEH_SC2',
       'FIRE_EXP', 'DR_PRES', 'L_STATE', 'DR_ZIP', 'L_STATUS', 'L_TYPE',
       'CDL_STAT', 'L_ENDORS', 'L_COMPL', 'L_RESTRI', 'DR_HGT', 'DR_WGT',
       'PREV_ACC', 'PREV_SUS', 'PREV_DWI', 'PREV_SPD', 'PREV_OTH', 'FIRST_MO',
       'FIRST_YR', 'SPEEDREL', 'DR_SF1', 'DR_SF2', 'DR_SF3', 'DR_SF4',
       'VTRAFWAY', 'VNUM_LAN', 'VSPD_LIM', 'VALIGN', 'VPROFILE', 'VPAVETYP',
       'VSURCOND', 'VTRAFCON', 'VTCONT_F', 'P_CRASH1', 'P_CRASH2', 'P_CRASH3',
       'PCRASH4', 'PCRASH5', 'ACC_TYPE', 'DEATHS', 'DR_DRINK', 'MDRDSTRD',
       'MDRMANAV'],
      dtype='object')

In [16]:
veh_dis_man_16['UNIQUE_KEY'] =  veh_dis_man_16["ST_CASE"].map(str)+"-" + veh_dis_man_16["VEH_NO"].map(str)+"-"+veh_dis_man_16["MDRDSTRD"].map(str)+"-"+veh_dis_man_16["MDRMANAV"].map(str)

In [19]:
veh_dis_man_16.head()

,STATE,ST_CASE,VEH_NO,NUMOCCS,DAY,MONTH,HOUR,MINUTE,HARM_EV,MAN_COLL,...,P_CRASH3,PCRASH4,PCRASH5,ACC_TYPE,DEATHS,DR_DRINK,MDRDSTRD,MDRMANAV,UNIQUE_KEY,Year
0,1,10001,1,1,1,1,9,25,42,0,...,8,4,4,8,1,1,0,92,10001-1-0-92,2016
1,1,10002,1,2,10,1,19,59,1,0,...,99,9,4,2,1,1,0,98,10002-1-0-98,2016
2,1,10003,1,1,1,1,2,20,14,0,...,1,1,4,1,1,0,0,0,10003-1-0-0,2016
3,1,10004,1,1,17,1,21,45,25,0,...,99,1,4,6,1,1,99,98,10004-1-99-98,2016
4,1,10005,1,1,26,1,20,7,42,0,...,99,2,4,2,1,0,99,98,10005-1-99-98,2016

In [18]:
veh_dis_man_16['Year']='2016'

In [20]:
veh_dis_man_2016=veh_dis_man_16.drop(['UNIQUE_KEY'], axis=1)

In [24]:
veh_dis_man_2016.head()

,STATE,ST_CASE,VEH_NO,NUMOCCS,DAY,MONTH,HOUR,MINUTE,HARM_EV,MAN_COLL,...,P_CRASH3,PCRASH4,PCRASH5,ACC_TYPE,DEATHS,DR_DRINK,MDRDSTRD,MDRMANAV,Year,UNIQUE_KEY
0,1,10001,1,1,1,1,9,25,42,0,...,8,4,4,8,1,1,0,92,2016,2016-10001-1-0-92
1,1,10002,1,2,10,1,19,59,1,0,...,99,9,4,2,1,1,0,98,2016,2016-10002-1-0-98
2,1,10003,1,1,1,1,2,20,14,0,...,1,1,4,1,1,0,0,0,2016,2016-10003-1-0-0
3,1,10004,1,1,17,1,21,45,25,0,...,99,1,4,6,1,1,99,98,2016,2016-10004-1-99-98
4,1,10005,1,1,26,1,20,7,42,0,...,99,2,4,2,1,0,99,98,2016,2016-10005-1-99-98

In [23]:
veh_dis_man_2016['UNIQUE_KEY'] =  veh_dis_man_2016["Year"].map(str)+"-"+veh_dis_man_2016["ST_CASE"].map(str)+"-" + veh_dis_man_2016["VEH_NO"].map(str)+"-"+veh_dis_man_2016["MDRDSTRD"].map(str)+"-"+veh_dis_man_2016["MDRMANAV"].map(str)

In [25]:
veh_dis_man_comb_16 =  veh_dis_man_2016[['UNIQUE_KEY', 'STATE', 'ST_CASE', 'VEH_NO','Year','NUMOCCS',
                                  'HARM_EV', 'MAN_COLL','MDRDSTRD', 'MDRMANAV', 'HIT_RUN','DAY','MONTH', 'HOUR',
       'MINUTE', 'REG_STAT', 'OWNER', 'MAKE',
       'MODEL', 'MAK_MOD', 'BODY_TYP', 'MOD_YEAR', 'TOW_VEH', 'J_KNIFE',
       'GVWR', 'V_CONFIG', 'CARGO_BT', 'HAZ_INV', 'HAZ_PLAC', 'HAZ_ID',
       'HAZ_CNO', 'HAZ_REL', 'BUS_USE', 'SPEC_USE', 'EMER_USE', 'TRAV_SP',
       'UNDERIDE', 'ROLLOVER', 'ROLINLOC', 'IMPACT1', 'DEFORMED', 'TOWED',
       'M_HARM', 'VEH_SC1', 'VEH_SC2', 'FIRE_EXP', 'DR_PRES', 'L_STATE',
       'DR_ZIP', 'L_STATUS', 'L_TYPE', 'CDL_STAT', 'L_ENDORS', 'L_COMPL',
       'L_RESTRI', 'DR_HGT', 'DR_WGT', 'PREV_ACC', 'PREV_SUS', 'PREV_DWI',
       'PREV_SPD', 'PREV_OTH', 'FIRST_MO', 'FIRST_YR', 'SPEEDREL', 'DR_SF1',
       'DR_SF2', 'DR_SF3', 'DR_SF4', 'VTRAFWAY', 'VNUM_LAN', 'VSPD_LIM',
       'VALIGN', 'VPROFILE', 'VPAVETYP', 'VSURCOND', 'VTRAFCON', 'VTCONT_F',
       'P_CRASH1', 'P_CRASH2', 'P_CRASH3', 'PCRASH4', 'PCRASH5', 'ACC_TYPE',
       'DEATHS', 'DR_DRINK']]

In [32]:
veh_dis_man_comb_16.count()

UNIQUE_KEY    52769
STATE         52769
ST_CASE       52769
VEH_NO        52769
Year          52769
NUMOCCS       52769
HARM_EV       52769
MAN_COLL      52769
MDRDSTRD      52769
MDRMANAV      52769
HIT_RUN       52769
DAY           52769
MONTH         52769
HOUR          52769
MINUTE        52769
REG_STAT      52769
OWNER         52769
MAKE          52769
MODEL         52769
MAK_MOD       52769
BODY_TYP      52769
MOD_YEAR      52769
TOW_VEH       52769
J_KNIFE       52769
GVWR          52769
V_CONFIG      52769
CARGO_BT      52769
HAZ_INV       52769
HAZ_PLAC      52769
HAZ_ID        52769
              ...
DR_WGT        52769
PREV_ACC      52769
PREV_SUS      52769
PREV_DWI      52769
PREV_SPD      52769
PREV_OTH      52769
FIRST_MO      52769
FIRST_YR      52769
SPEEDREL      52769
DR_SF1        52769
DR_SF2        52769
DR_SF3        52769
DR_SF4        52769
VTRAFWAY      52769
VNUM_LAN      52769
VSPD_LIM      52769
VALIGN        52769
VPROFILE      52769
VPAVETYP      52769
VSURCOND      52769
VTRAFCON      52769
VTCONT_F      52769
P_CRASH1      52769
P_CRASH2      52769
P_CRASH3      52769
PCRASH4       52769
PCRASH5       52769
ACC_TYPE      52769
DEATHS        52769
DR_DRINK      52769
Length: 86, dtype: int64

In [28]:
any(veh_dis_man_comb_16['UNIQUE_KEY'].duplicated())

False

In [29]:
pd.DataFrame.to_csv(veh_dis_man_comb_16,'ve_di_ma_16.csv', sep=',', na_rep='.', index=False)

In [30]:
veh_dis_man_comb_17 = pd.read_csv('/Users/sandippalit/Downloads/ve_di_ma_17.csv')

In [33]:
veh_dis_man_comb_16_17 = pd.concat([veh_dis_man_comb_16, veh_dis_man_comb_17])

In [34]:
veh_dis_man_comb_16_17.count()

UNIQUE_KEY    105472
STATE         105472
ST_CASE       105472
VEH_NO        105472
Year          105472
NUMOCCS       105472
HARM_EV       105472
MAN_COLL      105472
MDRDSTRD      105472
MDRMANAV      105472
HIT_RUN       105472
DAY           105472
MONTH         105472
HOUR          105472
MINUTE        105472
REG_STAT      105472
OWNER         105472
MAKE          105472
MODEL         105472
MAK_MOD       105472
BODY_TYP      105472
MOD_YEAR      105472
TOW_VEH       105472
J_KNIFE       105472
GVWR          105472
V_CONFIG      105472
CARGO_BT      105472
HAZ_INV       105472
HAZ_PLAC      105472
HAZ_ID        105472
               ...
DR_WGT        105472
PREV_ACC      105472
PREV_SUS      105472
PREV_DWI      105472
PREV_SPD      105472
PREV_OTH      105472
FIRST_MO      105472
FIRST_YR      105472
SPEEDREL      105472
DR_SF1        105472
DR_SF2        105472
DR_SF3        105472
DR_SF4        105472
VTRAFWAY      105472
VNUM_LAN      105472
VSPD_LIM      105472
VALIGN        105472
VPROFILE      105472
VPAVETYP      105472
VSURCOND      105472
VTRAFCON      105472
VTCONT_F      105472
P_CRASH1      105472
P_CRASH2      105472
P_CRASH3      105472
PCRASH4       105472
PCRASH5       105472
ACC_TYPE      105472
DEATHS        105472
DR_DRINK      105472
Length: 86, dtype: int64

In [35]:
veh_dis_man_comb_16_17.head()

,UNIQUE_KEY,STATE,ST_CASE,VEH_NO,Year,NUMOCCS,HARM_EV,MAN_COLL,MDRDSTRD,MDRMANAV,...,VTRAFCON,VTCONT_F,P_CRASH1,P_CRASH2,P_CRASH3,PCRASH4,PCRASH5,ACC_TYPE,DEATHS,DR_DRINK
0,2016-10001-1-0-92,1,10001,1,2016,1,42,0,0,92,...,0,0,15,12,8,4,4,8,1,1
1,2016-10002-1-0-98,1,10002,1,2016,2,1,0,0,98,...,0,0,1,13,99,9,4,2,1,1
2,2016-10003-1-0-0,1,10003,1,2016,1,14,0,0,0,...,0,0,1,13,1,1,4,1,1,0
3,2016-10004-1-99-98,1,10004,1,2016,1,25,0,99,98,...,0,0,14,12,99,1,4,6,1,1
4,2016-10005-1-99-98,1,10005,1,2016,1,42,0,99,98,...,0,0,15,6,99,2,4,2,1,0

In [43]:
vehicle15 = pd.read_csv('/Users/sandippalit/Downloads/FARS2015NationalCSV/vehicle.csv',encoding ="ISO-8859-1")

/Users/sandippalit/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [44]:
distract15 = pd.read_csv('/Users/sandippalit/Downloads/FARS2015NationalCSV/distract.csv')

In [45]:
veh_dis_15 = pd.merge(vehicle15, distract15, how='left', on=['STATE','ST_CASE', 'VEH_NO'])

In [46]:
maneuver15 = pd.read_csv('/Users/sandippalit/Downloads/FARS2015NationalCSV/maneuver.csv')

In [47]:
veh_dis_man15=pd.merge(veh_dis_15,maneuver15,how='left', on=['STATE','ST_CASE', 'VEH_NO'])

In [48]:
veh_dis_man15.count()

STATE       49532
ST_CASE     49532
VEH_NO      49532
VE_FORMS    49532
NUMOCCS     49532
DAY         49532
MONTH       49532
HOUR        49532
MINUTE      49532
HARM_EV     49532
MAN_COLL    49532
UNITTYPE    49532
HIT_RUN     49532
REG_STAT    49532
OWNER       49532
MAKE        49532
MODEL       49532
MAK_MOD     49532
BODY_TYP    49532
MOD_YEAR    49532
VIN         49532
VIN_1       49532
VIN_2       49532
VIN_3       49532
VIN_4       49532
VIN_5       49532
VIN_6       49530
VIN_7       49524
VIN_8       49504
VIN_9       49482
            ...
PREV_SPD    49532
PREV_OTH    49532
FIRST_MO    49532
FIRST_YR    49532
LAST_MO     49532
LAST_YR     49532
SPEEDREL    49532
DR_SF1      49532
DR_SF2      49532
DR_SF3      49532
DR_SF4      49532
VTRAFWAY    49532
VNUM_LAN    49532
VSPD_LIM    49532
VALIGN      49532
VPROFILE    49532
VPAVETYP    49532
VSURCOND    49532
VTRAFCON    49532
VTCONT_F    49532
P_CRASH1    49532
P_CRASH2    49532
P_CRASH3    49532
PCRASH4     49532
PCRASH5     49532
ACC_TYPE    49532
DEATHS      49532
DR_DRINK    49532
MDRDSTRD    49532
MDRMANAV    49532
Length: 104, dtype: int64

In [50]:
veh_dis_man15['Year']='2015'

In [52]:
veh_dis_man15['UNIQUE_KEY'] =  veh_dis_man15["Year"].map(str)+"-"+veh_dis_man15["ST_CASE"].map(str)+"-" + veh_dis_man15["VEH_NO"].map(str)+"-"+veh_dis_man15["MDRDSTRD"].map(str)+"-"+veh_dis_man15["MDRMANAV"].map(str)

In [53]:
veh_dis_man15.head()

,STATE,ST_CASE,VEH_NO,VE_FORMS,NUMOCCS,DAY,MONTH,HOUR,MINUTE,HARM_EV,...,P_CRASH3,PCRASH4,PCRASH5,ACC_TYPE,DEATHS,DR_DRINK,MDRDSTRD,MDRMANAV,Year,UNIQUE_KEY
0,1,10001,1,1,1,1,1,2,40,35,...,99,1,4,1,1,1,99,98,2015,2015-10001-1-99-98
1,1,10002,1,1,1,1,1,22,13,34,...,1,4,4,7,1,0,0,0,2015,2015-10002-1-0-0
2,1,10003,1,1,2,1,1,1,25,42,...,1,1,4,1,1,1,0,0,2015,2015-10003-1-0-0
3,1,10004,1,1,1,4,1,0,57,53,...,1,1,4,1,1,1,99,0,2015,2015-10004-1-99-0
4,1,10005,1,2,1,7,1,7,9,12,...,1,1,1,68,1,0,99,0,2015,2015-10005-1-99-0

In [54]:
veh_dis_man_comb_15 =  veh_dis_man15[['UNIQUE_KEY', 'STATE', 'ST_CASE', 'VEH_NO','Year','NUMOCCS',
                                  'HARM_EV', 'MAN_COLL','MDRDSTRD', 'MDRMANAV', 'HIT_RUN','DAY','MONTH', 'HOUR',
       'MINUTE', 'REG_STAT', 'OWNER', 'MAKE',
       'MODEL', 'MAK_MOD', 'BODY_TYP', 'MOD_YEAR', 'TOW_VEH', 'J_KNIFE',
       'GVWR', 'V_CONFIG', 'CARGO_BT', 'HAZ_INV', 'HAZ_PLAC', 'HAZ_ID',
       'HAZ_CNO', 'HAZ_REL', 'BUS_USE', 'SPEC_USE', 'EMER_USE', 'TRAV_SP',
       'UNDERIDE', 'ROLLOVER', 'ROLINLOC', 'IMPACT1', 'DEFORMED', 'TOWED',
       'M_HARM', 'VEH_SC1', 'VEH_SC2', 'FIRE_EXP', 'DR_PRES', 'L_STATE',
       'DR_ZIP', 'L_STATUS', 'L_TYPE', 'CDL_STAT', 'L_ENDORS', 'L_COMPL',
       'L_RESTRI', 'DR_HGT', 'DR_WGT', 'PREV_ACC', 'PREV_SUS', 'PREV_DWI',
       'PREV_SPD', 'PREV_OTH', 'FIRST_MO', 'FIRST_YR', 'SPEEDREL', 'DR_SF1',
       'DR_SF2', 'DR_SF3', 'DR_SF4', 'VTRAFWAY', 'VNUM_LAN', 'VSPD_LIM',
       'VALIGN', 'VPROFILE', 'VPAVETYP', 'VSURCOND', 'VTRAFCON', 'VTCONT_F',
       'P_CRASH1', 'P_CRASH2', 'P_CRASH3', 'PCRASH4', 'PCRASH5', 'ACC_TYPE',
       'DEATHS', 'DR_DRINK']]

In [55]:
veh_dis_man_comb_15.head()

,UNIQUE_KEY,STATE,ST_CASE,VEH_NO,Year,NUMOCCS,HARM_EV,MAN_COLL,MDRDSTRD,MDRMANAV,...,VTRAFCON,VTCONT_F,P_CRASH1,P_CRASH2,P_CRASH3,PCRASH4,PCRASH5,ACC_TYPE,DEATHS,DR_DRINK
0,2015-10001-1-99-98,1,10001,1,2015,1,35,0,99,98,...,0,0,14,13,99,1,4,1,1,1
1,2015-10002-1-0-0,1,10002,1,2015,1,34,0,0,0,...,0,0,14,6,1,4,4,7,1,0
2,2015-10003-1-0-0,1,10003,1,2015,2,42,0,0,0,...,0,0,1,13,1,1,4,1,1,1
3,2015-10004-1-99-0,1,10004,1,2015,1,53,0,99,0,...,0,0,14,13,1,1,4,1,1,1
4,2015-10005-1-99-0,1,10005,1,2015,1,12,6,99,0,...,0,0,11,15,1,1,1,68,1,0

In [56]:
any(veh_dis_man_comb_15['UNIQUE_KEY'].duplicated())

False

In [57]:
veh_dis_man_comb_15_16_17 = pd.concat([veh_dis_man_comb_15, veh_dis_man_comb_16_17])

In [58]:
veh_dis_man_comb_15_16_17.count()

UNIQUE_KEY    155004
STATE         155004
ST_CASE       155004
VEH_NO        155004
Year          155004
NUMOCCS       155004
HARM_EV       155004
MAN_COLL      155004
MDRDSTRD      155004
MDRMANAV      155004
HIT_RUN       155004
DAY           155004
MONTH         155004
HOUR          155004
MINUTE        155004
REG_STAT      155004
OWNER         155004
MAKE          155004
MODEL         155004
MAK_MOD       155004
BODY_TYP      155004
MOD_YEAR      155004
TOW_VEH       155004
J_KNIFE       155004
GVWR          155004
V_CONFIG      155004
CARGO_BT      155004
HAZ_INV       155004
HAZ_PLAC      155004
HAZ_ID        155004
               ...
DR_WGT        155004
PREV_ACC      155004
PREV_SUS      155004
PREV_DWI      155004
PREV_SPD      155004
PREV_OTH      155004
FIRST_MO      155004
FIRST_YR      155004
SPEEDREL      155004
DR_SF1        155004
DR_SF2        155004
DR_SF3        155004
DR_SF4        155004
VTRAFWAY      155004
VNUM_LAN      155004
VSPD_LIM      155004
VALIGN        155004
VPROFILE      155004
VPAVETYP      155004
VSURCOND      155004
VTRAFCON      155004
VTCONT_F      155004
P_CRASH1      155004
P_CRASH2      155004
P_CRASH3      155004
PCRASH4       155004
PCRASH5       155004
ACC_TYPE      155004
DEATHS        155004
DR_DRINK      155004
Length: 86, dtype: int64

In [59]:
pd.DataFrame.to_csv(veh_dis_man_comb_15_16_17,'ve_di_ma_15_16_17.csv', sep=',', na_rep='.', index=False)

In [60]:
veh_dis_man_comb_15_16_17.MDRMANAV.value_counts()

98    81034
0     52125
4     11167
99     5120
5      2443
92     1635
95      851
3       349
1       230
2        50
Name: MDRMANAV, dtype: int64

In [61]:
veh_dis_man_comb_15_16_17.HARM_EV.value_counts()

12    87520
8     17696
1      9685
42     7355
33     3722
34     2860
35     2806
24     2602
9      2538
30     2111
59     1372
32     1369
38     1343
14     1282
25     1091
31      853
53      808
43      786
5       762
11      658
52      609
18      568
15      474
23      336
10      322
57      321
39      314
21      311
58      285
17      247
54      193
19      192
26      172
3       165
20      163
46      156
41      146
7       130
40       86
16       84
48       73
45       66
51       61
44       60
99       59
49       58
72       36
50       25
2        24
93       18
73       12
6         8
55        4
91        4
74        3
Name: HARM_EV, dtype: int64

In [62]:
veh_dis_man_comb_15_16_17.MDRDSTRD.value_counts()

0     92211
96    27642
99    23518
93     3469
17     1167
1      1082
16      851
98      820
92      777
12      650
15      562
3       495
6       443
5       363
10      307
13      146
7       129
19      116
9        95
97       51
4        44
18       34
14       32
Name: MDRDSTRD, dtype: int64